/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Reset slut *********************/

/********************aner ik?********************/

main {
  padding: 10px;
}

body {
  background-color: rgb(11, 17, 75);
}

/*****************font opsætning********************/

h1 {
  font-size: 12vw; /* Gør ASTA DONS gigantisk */
  text-transform: uppercase;
  line-height: 0.9;
  margin: 0;
  color: red;
  font-family: "Bodoni Moda", serif;
  font-weight: 900;
  font-style: italic;
}

h2 {
  font-size: 5vw;
  text-transform: uppercase;
  color: red;
  margin-top: -10px;
  font-family: "Bodoni Moda", serif;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  margin-block: 0.5rem;
  color: red;
  font-family: "Bodoni Moda", serif;
  font-weight: 900;
}

.grid-item-text h3 {
  color: #e10e0e;
}

p {
  font-family: "Cardo", serif;
  font-size: 17.5px;
  font-weight: 400;

  color: #f2f2f2;
  line-height: 1.6;
  margin-bottom: 20px;

  font-variant: small-caps;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
}

/****om mig***/
.ommigtitel {
  padding-left: 400px;
}

/********cta knap og hover***/
.social-link {
  color: white;
  text-decoration: none;
  font-family: "Bodoni Moda", serif;
  border-bottom: 1px solid red; /* En tynd rød streg der matcher mit A */
  padding-bottom: 2px;
}

.cta-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
  background-color: rgb(11, 17, 75);
}

.cta-box {
  padding: 10px 30px;
  border: 2px solid red; /* Den røde farve fra mit logo */
  background-color: rgb(11, 17, 75);
  text-decoration: none;
  font-family: "Cardo", serif;
  color: white; /*  Vogue-inspirerede font */
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}

.cta-box:hover {
  background-color: red;
  color: #180643; /* Bytter farverne rundt ved hover */
}

.cta-knap:hover {
  background-color: #cc0000; /* En mørkere nuance af farven */
  transform: scale(1.05); /* Knappen bliver en lille smule større */
  cursor: pointer;
  font-family: "Cardo", serif;
}

/*******footer****/
footer {
  background-color: rgb(11, 17, 75); /*  mørkeblå */
  padding: 10px 40px;
  border-top: 1px solid rgba(255, 0, 0, 0.3); /* En meget svag rød linje øverst */
  color: white;
  font-family: "Cardo", serif;
  footer {
    padding: 10px 0; /* Meget lidt luft i top og bund */
    height: auto;
  }
}

.footer-links {
  padding: 50px;
  font-family: "Cardo", serif;
}

.footer-contact {
  padding: 50px;
  font-family: "Cardo", serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Cardo", serif;
}

.footer-links a {
  display: block; /* Sætter dem under hinanden */
  color: white;
  text-decoration: none;
  margin-bottom: 1.5px;
  font-size: 0.9rem;
  font-family: "Cardo", serif;
}

.footer-links a:hover {
  color: red;
}

/********* A logo*****/
.main-logo {
  width: 300px;
  height: auto;
  display: block;
  margin: 20px auto;
}

/**********************menuen*************************************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(22, 29, 96);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.logo,
header a {
  position: relative;
  z-index: 9999; /* Dette tvinger logoet helt frem i forreste lag */
  cursor: pointer;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 10px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 5px;
  color: #e10e0e;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #000000;
}

.burger {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cb9bbe;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

footer {
  color: rgb(255, 255, 255);
}

.linkedin {
  color: #ffffff;
  font-family: "Cardo", serif;
}

.instagram {
  color: white;
  font-family: "Cardo", serif;
}

.facebook {
  color: white;
  font-family: "Cardo", serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Et højt tal sikrer, at den ligger øverst */
  background-color: #000033;
}

.case-item {
  z-index: 1;
}

/**** Containeren *****/
.case-item {
  position: relative;
  width: 55%;
  max-width: 800px;
  cursor: pointer;
  overflow: hidden;
}

/**teksten til emergency**/
.Emergency {
  text-align: center;
  margin-top: 50px;
}

.tema2 {
  text-align: center;
  margin-top: 50px;
}

/***** alle menu billeder***/

/* Selve billedet */
.case-image {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: auto;
  padding: 40px 25px;
}

/* Det sorte/slørede lag (Overlay) */
.case-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 103, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Skjult som standard */
  transition: opacity 0.4s ease;

  /* slører billedet bagved teksten */
  backdrop-filter: blur(8px);
}

/* Teksten indeni overlayet */
.overlay-text {
  color: white;
  font-size: 1.5rem;
  font-family: "Cardo", serif;
  letter-spacing: 2.5px;
}

.om-mig-billede {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

/********erfaring om mig skema******/
.skills-container {
  background-color: #000033;
  padding: 20px;
  font-family: "Cardo", serif;
}

.skill {
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
}

.skill p {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.dots {
  display: flex;
  gap: 8px;
}

/* styler checkboxen til at ligne en cirkel */
input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #696060;
  border-radius: 50%; /* Gør den rund */
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Farven når den er krydset af */
input[type="checkbox"]:checked {
  background-color: #cf0d0d;
}

/* Lille hover effekt */
input[type="checkbox"]:hover {
  border: 2px solid #333;
}

/********* HOVER-EFFEKTEN ********************/
.case-item:hover .case-overlay {
  opacity: 1; /* Gør overlayet synligt */
  filter: grayscale(100%);
}

.case-item:hover .case-image {
  transform: scale(1.05);
}

.tekst-indhold {
  padding: 80px;
  margin: 25px;
  border: 2px solid rgb(182, 18, 18);
  padding: 20px;
  border-radius: 8px;
}

.ux-ui {
  padding: 200px;
  margin: 35px;
}

.media {
  width: 70%;
  max-width: 250px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.box-modellen {
  width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.dons {
  gap: 60px;
  width: 40%;
  height: auto;
  display: block;
  margin-bottom: 60px;
  margin-right: 60px;
}

.moodboard {
  width: 40%;
  height: auto;
  display: block;
  margin-bottom: 60px;
  margin-right: 60px;
  gap: 60px;
}

.mor {
  width: 40%;
  height: auto;
  display: block;
  margin-bottom: 60px;
  margin-right: 60px;
  gap: 60px;
}

.alice1 {
  gap: 60px;
  width: 40%;
  height: auto;
  display: block;
  margin-bottom: 60px;
  margin-right: 60px;
}

.alice4 {
  gap: 60px;
  width: 40%;
  height: auto;
  display: block;
  margin-bottom: 60px;
  margin-right: 60px;
}

.alice5 {
  gap: 60px;
  width: 40%;
  height: auto;
  display: block;
  margin-bottom: 60px;
  margin-right: 60px;
}

.forms {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.light {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

/********video 05*****/
.video-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  height: auto;
}
.video-overskrift {
  position: absolute;
  bottom: 20px;
  right: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.case-video {
  width: 100%;
  border: none; /* Fjerner kanten */
  display: block;
  border-radius: 10px;
  display: block;
}

/****text til videoopgaven***/
.text-videoopgaven1 {
  border: 2.5px solid #960808;
  border-radius: 8px;
  padding: 20px;
}

.titel-hindbaer {
  text-align: center;
}

/* ==========================================
   ANIMATIONS
   ========================================== */

/* Fade In Animation (Bruges til tekst) */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* nedefra */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hoppe Animation (CTA knap) */
@keyframes hoppe-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.fade-in-text {
  opacity: 0;
  transform: translateY(20px);
  animation: flashIn 2s ease-out forwards;
}

@keyframes flashIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h2.fade-in-text {
  animation-delay: 0.2s;
}

h1.fade-in-text {
  animation-delay: 0.8s;
}

/* animationerne på mine klasser*/
.fade-in-text {
  animation: fadeIn 3s ease-out;
}

.hoppende-billede,
.hoppende-knap {
  animation: hoppe-animation 2s ease-in-out infinite;
}

/*** forside scroll**/
.fade-in-text {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

h1:nth-child(1) {
  animation-delay: 0.2s;
}

h1:nth-child(2) {
  animation-delay: 0.5s;
}

.linkedin-link {
  animation-delay: 0.8s;
}

/* Vi bruger samme keyframe som før */
@keyframes hoppe-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

/* Animationen der gør teksten synlig gradvist */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Denne klasse sætter vi på din tekst-container */
.fade-in-text {
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
  animation-delay: 0.5s;
}

/* Animationen der gør dem synlige */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tilføj dette til dine eksisterende klasser */
.dons,
.moodboard,
.mor {
  opacity: 0;
  animation: fadeInUp 1.2s ease-out forwards;
}

.dons {
  animation-delay: 0.2s;
}

.moodboard {
  animation-delay: 0.6s;
}

.mor {
  animation-delay: 1s;
}

/*  alice billeder animation*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 2. animationen er på alle tre billeder*/
.alice1,
.alice4,
.alice5 {
  opacity: 0;
  animation: fadeInUp 1.2s ease-out forwards;
}

.alice1 {
  animation-delay: 0.2s;
}
.alice4 {
  animation-delay: 0.6s;
}
.alice5 {
  animation-delay: 1s;
}

/*** om mig billede animation**/

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*** forside cta hoppende kanp***/

.hoppende-knap {
  display: inline-block;
  animation: hoppe-animation 2s ease-in-out infinite;

  padding: 15px 30px;
  border: 2px solid red;
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Bodoni Moda", serif;
}

/* Stopper hoppet når man holder musen over (hover) */
.hoppende-knap:hover {
  animation-play-state: paused;
  background-color: red;
  color: #000033;
}

/***JS scroll effekt***/
.header-scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
